.first-gallerycon{
    padding: 10px 40px;

}
.second-gallerycon{
    padding:  10px 40px;
}

.item-img{
    width: 300px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: space-evenly;
}
.grid-item{
    background-color: darkblue;
    color: white;
    border-radius: 12px;
    
}
.grid-item .grid-item-innercon{
    padding: 15px 10px;

}
.date-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:770px){
    .grid-container{
        grid-template-columns: 300px 300px ;
    }


}



.loader-container {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* align-items: center; */
    height: 100vh;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.welcome-search-bar{
    display: flex;
    justify-content: space-between;

}


@media screen and (max-width: 450px){
    .grid-container{
        grid-template-columns: 300px;
    }
    .item-img{
        width: 300px;
    }
    .welcome-search-bar{
        flex-direction: column;
        align-items: center;
    }
}